html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
.wrapper {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.loading-3dcube {
  perspective: 200px;
  perspective-origin: 50% 50%;
  width: 75px;
  height: 75px;
  position: relative;
}
.loading-3dcube div {
  box-sizing: border-box;
}
.loading-3dcube .cube {
  transform-style: preserve-3d;
  transform: translateZ(-100px);
  animation: rotating-cube 3s ease-in-out infinite alternate;
  width: 100%;
  height: 100%;
}
.loading-3dcube .pane {
  position: absolute;
  width: 75px;
  height: 75px;
  transform-style: preserve-3d;
}
.loading-3dcube .pane:nth-child(1) {
  transform: translateZ(-25px);
}
.loading-3dcube .pane:nth-child(2) {
  transform: translateZ(0);
}
.loading-3dcube .pane:nth-child(3) {
  transform: translateZ(25px);
}
.loading-3dcube .circle {
  float: left;
  width: 15px;
  height: 15px;
  border-radius: 10px;
  background-color: #b41a1a;
  border: 1px solid #77180b;
  margin: 5px;
  animation: rotating-cube-reverse 3s ease-in-out infinite alternate;
}
@-moz-keyframes rotating-cube {
  0% {
    transform: rotate3d(1, 1, 0, 0);
  }
  33% {
    transform: rotate3d(0, 1, 0, 135deg);
  }
  66% {
    transform: rotate3d(0, 1, 0, 45deg) rotate3d(1, 0, 1, -45deg);
  }
  100% {
    transform: rotate3d(0, 1, 0, 45deg) rotate3d(1, 0, 1, 45deg);
  }
}
@-webkit-keyframes rotating-cube {
  0% {
    transform: rotate3d(1, 1, 0, 0);
  }
  33% {
    transform: rotate3d(0, 1, 0, 135deg);
  }
  66% {
    transform: rotate3d(0, 1, 0, 45deg) rotate3d(1, 0, 1, -45deg);
  }
  100% {
    transform: rotate3d(0, 1, 0, 45deg) rotate3d(1, 0, 1, 45deg);
  }
}
@-o-keyframes rotating-cube {
  0% {
    transform: rotate3d(1, 1, 0, 0);
  }
  33% {
    transform: rotate3d(0, 1, 0, 135deg);
  }
  66% {
    transform: rotate3d(0, 1, 0, 45deg) rotate3d(1, 0, 1, -45deg);
  }
  100% {
    transform: rotate3d(0, 1, 0, 45deg) rotate3d(1, 0, 1, 45deg);
  }
}
@keyframes rotating-cube {
  0% {
    transform: rotate3d(1, 1, 0, 0);
  }
  33% {
    transform: rotate3d(0, 1, 0, 135deg);
  }
  66% {
    transform: rotate3d(0, 1, 0, 45deg) rotate3d(1, 0, 1, -45deg);
  }
  100% {
    transform: rotate3d(0, 1, 0, 45deg) rotate3d(1, 0, 1, 45deg);
  }
}
@-moz-keyframes rotating-cube-reverse {
  0% {
    transform: rotate3d(1, 1, 0, 0);
  }
  33% {
    transform: rotate3d(0, 1, 0, -135deg);
  }
  66% {
    transform: rotate3d(0, 1, 0, -45deg) rotate3d(1, 0, 0, 45deg);
  }
  100% {
    transform: rotate3d(0, 1, 0, -45deg) rotate3d(1, 0, 0, -45deg);
  }
}
@-webkit-keyframes rotating-cube-reverse {
  0% {
    transform: rotate3d(1, 1, 0, 0);
  }
  33% {
    transform: rotate3d(0, 1, 0, -135deg);
  }
  66% {
    transform: rotate3d(0, 1, 0, -45deg) rotate3d(1, 0, 0, 45deg);
  }
  100% {
    transform: rotate3d(0, 1, 0, -45deg) rotate3d(1, 0, 0, -45deg);
  }
}
@-o-keyframes rotating-cube-reverse {
  0% {
    transform: rotate3d(1, 1, 0, 0);
  }
  33% {
    transform: rotate3d(0, 1, 0, -135deg);
  }
  66% {
    transform: rotate3d(0, 1, 0, -45deg) rotate3d(1, 0, 0, 45deg);
  }
  100% {
    transform: rotate3d(0, 1, 0, -45deg) rotate3d(1, 0, 0, -45deg);
  }
}
@keyframes rotating-cube-reverse {
  0% {
    transform: rotate3d(1, 1, 0, 0);
  }
  33% {
    transform: rotate3d(0, 1, 0, -135deg);
  }
  66% {
    transform: rotate3d(0, 1, 0, -45deg) rotate3d(1, 0, 0, 45deg);
  }
  100% {
    transform: rotate3d(0, 1, 0, -45deg) rotate3d(1, 0, 0, -45deg);
  }
}
